<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133092678606-7s96mdp7srd4tbi0ehojehreh1jcpne4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133092678606-7s96mdp7srd4tbi0ehojehreh1jcpne4</string>
	<key>API_KEY</key>
	<string>AIzaSyAjZYPB4h-UodsUpNCNCD6SU-uueyqCq6E</string>
	<key>GCM_SENDER_ID</key>
	<string>133092678606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.bmtechua.Checker2</string>
	<key>PROJECT_ID</key>
	<string>checker2-43847</string>
	<key>STORAGE_BUCKET</key>
	<string>checker2-43847.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133092678606:ios:8ff92cf0c661b8d3bca99f</string>
</dict>
</plist>